# node_modules/
# client/node_modules/
# server/node_modules/

# .env
# dist/
# build/
# coverage/

# .vscode/



node_modules/
client/node_modules/
server/node_modules/

.env
dist/
build/
coverage/

.vscode/